body {
    padding: 0;
    margin: 0;
  }

.nav__container {
    display: flex;
    width: 100%;
    height: 70px;
    background: #3260DA;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    font-weight: bold;
    position: fixed;
  }
  
  .nav__logo {
    padding: 25px;
  }
  
  .nav__items {
    display: flex;
    margin-left: auto;
  }
  
  .nav__link {
    padding: 25px;
  }

  .nav__container a {
    text-decoration: none;
    color: white;
    padding: 1.5em;
  }
  
  .nav__container a:hover {
    background: #4285f4;
  }

  header{
    width: 100%;
    height: 500px;
    background: url("../img/say-no-to-corruption.jpg") no-repeat center;
    background-size: cover;
    background-color: gray;
    margin-top: 3rem;
  }

  .description{
      position: absolute;
      text-align: center;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white
  }


  main h3 {
    font-size: 50px;
    padding: 10px 0;
    text-align: center;
    color: #3260DA;
  }

  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .col {
    width: 40%;
    max-height: 400px;
    border: 1px solid #777777;
    border-radius: 8px;
    background: #2f7db5;
    text-align: justify;
    margin: 10px;
    color: white;
  }

  .col-image img {
    width: 100%;
    max-height: 200px;
    border-radius: 8px 8px 0 0;
  }
  
  .col__description{
    padding: 1em;
    font-size: 1.1rem;
  }

  .case__title {
    color: white;
    font-size: 20px;
  }


  .footer {
    margin-top: 120px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
  }

  /* blue-background  for body*/
  .blue-background{
    background-color: #4285f4;
  }

  .form-container {
    top: 30px;
  background-color: #fff;
  padding: 40px 0 70px 0;
  display: block;
  width: 40%;
  max-height: 70%;
  margin: 100px auto 70px auto;
  }

  .form-container h1 {
    text-align: center;
    color: blue;
  }

  .form-control {
    width: 50%;
    border: 1px solid #2f7db5;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }
  .text-center{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sign-in-link a,
  .sign-up-link a {
    text-decoration: none;
  }

  .btn-register,
  .btn-login,
  .btn-case {
    width: 55%;
    color: white;
    background: blue;
    display: flex;
    align-items: center;
    cursor: pointer;
  }


  /* .form-group {
     display: block; 
  }  */

  label {
    /* float: left; */
    margin-left: 25%;
    text-align: left;
    width: 100%;
    display: block;
    /* margin-right: 15px;
    width: 100px; */
  }

   #story{
    width: 55%;
    margin-left: 20%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    padding: 10px;
    line-height: 1.5;
  }

  #video, #image {
    margin-left: 25%;
    padding: 10px 0;
  }

  /* * {
    border: none;
  } */